/* Bible Talk Section*/

.bible-study-section{
    display: flex;
    max-width: 1366px;
    margin: 144px auto 80px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 80px;
}

.bible-study-section .section-title-box{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.bible-study-section .section-title-box .title{
    align-self: stretch;
    color: var(--black, #000);
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bible-study-section .section-title-box .subtitle{
    align-self: stretch;
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bible-study-section .section-title-box .description{
    align-self: stretch;
    padding: 24px 144px 0px;
    color: var(--black-80, rgba(0, 0, 0, 0.80));
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bible-study-section .steps{
    align-self: stretch;
    display: flex;
    gap: 18px;
}

.bible-study-section .steps .process{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 16px;
}

.bible-study-section .steps .process .cover{
    display: flex;
    height: 360px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bible-study-section .steps .process .chip{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 12px;
    top: 12px;
    border-radius: 56px;
    background: var(--main, #F2C700);

    color: var(--black, #000);

    /* Text-5 */
    font-family: "Noto Sans TC";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.1px;
}

.bible-study-section .steps .process .text{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 4px;
}

.bible-study-section .steps .process .text .title{
    align-self: stretch;
    color: var(--Black, #1A1A1A);
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.bible-study-section .steps .process .text .subtitle{
    align-self: stretch;
    color: rgba(0, 0, 0, 0.25);
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.bible-study-section .steps .process.step-1 .cover{
    background-image: url(../element/image/bible-study-1.png);
}

.bible-study-section .steps .process.step-2 .cover{
    background-image: url(../element/image/bible-study-2.png);
}

.bible-study-section .steps .process.step-3 .cover{
    background-image: url(../element/image/bible-study-3.png);
}


.bible-study-section .more{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.bible-study-section .more .caption{
    align-self: stretch;
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.bible-study-section .more .btn{
    display: flex;
    padding: 12px 12px 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--main, #F2C700);
}

.bible-study-section .more .btn .btn-text{
    color: var(--black, #000);
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bible-study-section .more .btn .btn-icon-r{
    width: 24px;
    height: 24px;
    background-image: url(../element/image/arrow-right.png);
    background-size: contain;
}

.bible-study-section .more .btn:hover{
    background: var(--main-dark-5, #302800);
    cursor: pointer;

    .btn-text{
        color: var(--main, #F2C700);
    }
    .btn-icon-r{
        background-image: url(../element/image/arrow-right-hover.png);
    }
}

@media(max-width:1366px){
    .bible-study-section{
        margin: 120px auto 48px;
        gap: 48px;
        padding: 0 48px;
    }
    .bible-study-section .section-title-box .title{
        font-size: 36px;
    }
    .bible-study-section .section-title-box .subtitle{
        font-size: 18px;
    }
    .bible-study-section .section-title-box .description{
        padding: 24px 80px 0px;
        font-size: 20px;
    }
    .bible-study-section .steps{
        gap: 18px;
    }
    .bible-study-section .steps .process{
        flex: 1 0 0;
        gap: 16px;
    }
    .bible-study-section .steps .process .cover{
        height: 280px;
        border-radius: 4px;
    }
    
    .bible-study-section .steps .process .chip{
        padding: 4px 8px;
        left: 8px;
        top: 8px;
        border-radius: 56px;
        font-size: 10px;
    }
    .bible-study-section .steps .process .text{
        gap: 4px;
    }
    
    .bible-study-section .steps .process .text .title{
        font-size: 18px;
    }
    .bible-study-section .steps .process .text .subtitle{
        color: rgba(0, 0, 0, 0.25);
        font-size: 16px;
    }
    .bible-study-section .more{
        padding-top: 0px;
    }
    .bible-study-section .more .caption{
        font-size: 16px;
    }
    .bible-study-section .more .btn .btn-text{
        font-size: 16px;
    }
}
@media(max-width:1024px){
    .bible-study-section{
        margin: 120px auto 48px;
        gap: 24px;
        padding: 0 24px;
    }
    .bible-study-section .section-title-box .title{
        font-size: 32px;
    }
    .bible-study-section .section-title-box .subtitle{
        font-size: 18px;
    }
    .bible-study-section .section-title-box .description{
        padding: 24px 64px 0px;
        font-size: 18px;
    }
    .bible-study-section .steps{
        gap: 24px;
        flex-direction: column;
        padding: 0px 120px;
    }
    .bible-study-section .steps .process{
        flex: none;
        width: 100%;
        gap: 8px;
    }
    .bible-study-section .steps .process .cover{
        height: 240px;
        border-radius: 4px;
    }
    
    .bible-study-section .steps .process .chip{
        padding: 4px 8px;
        left: 8px;
        top: 8px;
        border-radius: 56px;
        font-size: 10px;
    }
    .bible-study-section .steps .process .text{
        gap: 4px;
    }
    .bible-study-section .steps .process .text .title{
        font-size: 18px;
    }
    .bible-study-section .steps .process .text .subtitle{
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
    }
    .bible-study-section .more{
        padding-top: 12px;
        gap: 8px;
    }
    .bible-study-section .more .caption{
        font-size: 14px;
    }
}
@media(max-width:768px){
    .bible-study-section{
        margin: 120px auto 48px;
        gap: 16px;
        padding: 0 16px;
    }
    .bible-study-section .section-title-box .title{
        font-size: 28px;
    }
    .bible-study-section .section-title-box .subtitle{
        font-size: 16px;
    }
    .bible-study-section .section-title-box .description{
        display: none;
    }
    .bible-study-section .steps{
        gap: 24px;
        flex-direction: column;
        padding: 0px;
    }
    .bible-study-section .steps .process{
        flex: none;
        width: 100%;
        gap: 8px;
    }
    .bible-study-section .steps .process .cover{
        height: 240px;
        border-radius: 4px;
    }
    .bible-study-section .steps .process .chip{
        padding: 4px 8px;
        left: 8px;
        top: 8px;
        border-radius: 56px;
        font-size: 10px;
    }
    .bible-study-section .steps .process .text{
        gap: 4px;
    }
    .bible-study-section .steps .process .text .title{
        font-size: 18px;
    }
    .bible-study-section .steps .process .text .subtitle{
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
    }
    .bible-study-section .more{
        padding-top: 0px;
        gap: 8px;
    }
    .bible-study-section .more .caption{
        font-size: 14px;
    }
}
@media(max-width:414px){
    .bible-study-section{
        margin: 80px auto 48px;
        gap: 24px;
        padding: 0 16px;
    }
    .bible-study-section .section-title-box .title{
        font-size: 24px;
    }
    .bible-study-section .section-title-box .subtitle{
        font-size: 16px;
    }
    .bible-study-section .section-title-box .description{
        display: none;
    }
    .bible-study-section .steps{
        gap: 16px;
        flex-direction: column;
        padding: 0px;
    }
    .bible-study-section .steps .process{
        flex: none;
        width: 100%;
        gap: 8px;
    }
    .bible-study-section .steps .process .cover{
        height: 200px;
        border-radius: 4px;
    }
    .bible-study-section .steps .process .chip{
        padding: 4px 8px;
        left: 8px;
        top: 8px;
        border-radius: 56px;
        font-size: 10px;
    }
    .bible-study-section .steps .process .text{
        gap: 2px;
    }
    .bible-study-section .steps .process .text .title{
        font-size: 16px;
    }
    .bible-study-section .steps .process .text .subtitle{
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
    }
}

/*---------------  FAQ Section ----------------*/

.faq-section{
    display: flex;
    width: 1366px;
    padding: 0px 80px;
    margin: 0 auto 80px;
    flex-direction: column;
    gap: 24px;
}

.faq-section .section-title{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.faq-section .section-title .title{
    align-self: stretch;
    color: var(--black, #000);
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.faq-section .section-title .subtitle{
    align-self: stretch;
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.faq-section .faq-list{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.faq-section .faq-list .question{
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-bottom: 1px solid #C1C7CD;
}

.faq-section .faq-list .question:hover{
    cursor: pointer;
    background: #FAE999;

    .text{
        color:#000;
    }
    .arrow{
        background-image: url(../element/icons/faq-arrow-hover.png);
    }
    .q-mark{
        opacity: 1;
    }
}

.faq-section .faq-list .question.active{
    background: #F2C700;
}

.faq-section .faq-list .question .text.active{
    color: #000;
    font-weight: 500;
}

.faq-section .faq-list .question .arrow.active{
    background-image: url(../element/icons/faq-arrow-hover.png);
}

.faq-section .faq-list .question .q-mark{
    width: 24px;
    height: 24px;
    background-image: url(../element/icons/faq-qmark.png);
    background-size: contain;
    opacity: 0.2;
}

.faq-section .faq-list .question .q-mark.active{
    opacity: 1;
}

.faq-section .faq-list .question .text{
    flex: 1 0 0;
    color: #697077;

    /* Body/M */
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.faq-section .faq-list .question .arrow{
    width: 24px;
    height: 24px;
    background-image: url(../element/icons/faq-arrow.png);
    background-size: contain;
}

.faq-section .faq-list .answer{
    height: 0px;
    padding: 0px 76px;
    overflow: hidden;
    font-size: 18px;
    transition: ease 300ms;
}

.faq-section .faq-list .answer.active{
    display: flex;
    padding: 24px 76px;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid var(--black, #000);
    background: #FCF4CC;
    height: auto;
    overflow: visible;

    flex: 1 0 0;
    color: var(--black-80, rgba(0, 0, 0, 0.80));

    /* Body/M */
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */

    transition: ease-out 300ms;
}

@media(max-width:1366px){
    .faq-section{
        padding: 0px 48px;
        gap: 24px;
        width: 100%;
        margin: 0 auto 80px;
    }
    .faq-section .section-title .title{
        font-size: 36px;
    }
    .faq-section .section-title .subtitle{
        font-size: 18px;
    }
    .faq-section .faq-list .question{
        padding: 36px 16px;
        gap: 16px;
    }
    .faq-section .faq-list .question .q-mark{
        width: 36px;
        height: 36px;
    }
    .faq-section .faq-list .question .text{
        font-size: 20px;
    }
    .faq-section .faq-list .question .arrow{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .answer{
        padding: 0px 68px;
        font-size: 18px;
    }
    .faq-section .faq-list .answer.active{
        padding: 24px 68px;
        gap: 8px;
        font-size: 18px;
    }
}

@media(max-width:1024px){
    .faq-section{
        padding: 0px 24px;
        gap: 24px;
        margin: 0 auto 48px;
        width: 100%;
    }
    .faq-section .section-title .title{
        font-size: 32px;
    }
    .faq-section .section-title .subtitle{
        font-size: 16px;
    }
    .faq-section .faq-list .question{
        padding: 36px 16px;
        gap: 8px;
    }
    .faq-section .faq-list .question .q-mark{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .question .text{
        font-size: 18px;
    }
    .faq-section .faq-list .question .arrow{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .answer{
        padding: 0px 48px;
        font-size: 16px;
    }
    .faq-section .faq-list .answer.active{
        padding: 24px 48px;
        gap: 8px;
        font-size: 16px;
    }
}

@media(max-width:768px){
    .faq-section{
        padding: 0px 16px;
        gap: 24px;
        width: 100%;
    }
    .faq-section .section-title .title{
        font-size: 32px;
    }
    .faq-section .section-title .subtitle{
        font-size: 16px;
    }
    .faq-section .faq-list .question{
        padding: 28px 16px;
        gap: 16px;
    }
    .faq-section .faq-list .question .q-mark{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .question .text{
        font-size: 18px;
    }
    .faq-section .faq-list .question .arrow{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .answer{
        padding: 0px 56px;
        font-size: 16px;
    }
    .faq-section .faq-list .answer.active{
        padding: 24px 56px;
        gap: 8px;
        font-size: 16px;
    }
}

@media(max-width:414px){
    .faq-section{
        padding: 0px 16px;
        gap: 12px;
        width: 100%;
    }
    .faq-section .section-title .title{
        font-size: 24px;
    }
    .faq-section .section-title .subtitle{
        font-size: 14px;
    }
    .faq-section .faq-list .question{
        padding: 24px 12px;
        gap: 8px;
    }
    .faq-section .faq-list .question .q-mark{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .question .text{
        font-size: 16px;
    }
    .faq-section .faq-list .question .arrow{
        width: 24px;
        height: 24px;
    }
    .faq-section .faq-list .answer{
        padding: 0px 44px;
        font-size: 14px;
    }
    .faq-section .faq-list .answer.active{
        padding: 24px 44px;
        gap: 8px;
        font-size: 14px;
    }
}