/* hero section css*/

.hero-section{
    width: 100%;
    height: 720px;
    margin: 120px auto 120px;
    overflow: hidden;
    position: relative;
}

#lottie-container{
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lottie-container svg{
        width: auto !important;
}

@media(max-width:1366px){
    .hero-section{
        margin: 144px auto 48px;
        height: 480px;
    }
}

@media(max-width:1024px){
    .hero-section{
        margin: 96px auto 64px;
        height: 480px;
    }
}

@media(max-width:768px){
    .hero-section{
        margin: 120px auto 48px;
        height: 360px;
}
}

@media(max-width:540px){
    .hero-section{
        margin: 96px auto 48px;
        height: 240px;
}
}

/* Ministry-Section  css*/

.ministry-section{
    max-width: 1366px;
    padding: 0px 80px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.ministry-section .section-title{
    align-self: stretch;
    color: var(--Black, #1A1A1A);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ministry-list{
    display: flex;
    justify-content: center;
    column-gap: 2%;

    align-self: stretch;
    flex-wrap: wrap;
}

.ministry{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 49%;
    padding: 16px;
    margin-bottom: 2%;
    border-radius: 8px;
    background: var(--white, #FFF);
    position: relative;
    overflow: hidden;
}

.ministry .tag{
    position: absolute;
    right: 12px;
    bottom: -40px;
    padding: 12px 20px;
    background-color: #F2C700;
    font-size: 14px;
    border-radius: 100px;
    transition: all ease-out 500ms;
    z-index: 2;
}

.hover-bg{
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 24px;
    height: 24px;
    background: center center / cover url(../element/icons/ministry-bg.svg);
}

.ministry:hover{
    cursor: pointer;
}

.ministry:hover .tag{
    position: absolute;
    right: 12px;
    bottom: 12px;
    transition: all ease-out 500ms;
}

.ministry:hover {
    .hover-bg{
        left: -1000px;
        bottom: -1000px;
        width: 2000px;
        height: 2000px;
        transition: all ease-out 700ms;
    }
}

.ministry img{
    width: 200px;
    height: 200px;
    z-index: 2;
}

.ministry .box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0;
    z-index: 2;
}

.ministry .box p{
    color: var(--black-60, rgba(0, 0, 0, 0.60));
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; /* 22.4px */
}

@media(max-width:1366px){
    .ministry-section{
        padding: 0 48px;
    }
    .ministry-section .section-title{
        font-size: 36px;
    }
    .ministry{
        width: 49%;
    }
    .ministry .cover-1, .ministry .cover-2, .ministry .cover-3, .ministry .cover-4{
        height: 280px;
        padding: 16px;
    }
}

@media(max-width:1024px){
    .ministry-section{
        padding: 0 24px;
        margin: 0 auto 64px;
    }
    .ministry-section .section-title{
        font-size: 32px;
    }
    .ministry{
        width: 100%;
        margin-bottom: 16px;
    }
    .ministry img{
        width: 160px;
        height: 160px;
    }
}

@media(max-width:768px){
    .ministry-section{
        padding: 0 16px;
        gap: 12px;
        margin: 0 auto 48px;
    }
    .ministry{
        width: 100%;
        gap:24px;
        padding: 24px 16px;
    }
    .ministry-section .section-title{
        font-size: 28px;
    }
    .ministry img{
        width: 100px;
        height: 100px;
    }
    .ministry p{
        font-size: 16px;
    }
}

@media(max-width:540px){
    .ministry-section{
        padding: 0 16px;
        gap: 12px;
        margin: 0 auto 24px;
    }
    .ministry img{
        width: 160px;
        height: 160px;
    }
    .ministry{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .ministry-section .section-title{
        font-size: 24px;
    }
}

/* Major Events Section */

.major-activity{
    display: flex;
    max-width: 1366px;
    padding: 0px 80px;
    margin: 0 auto 80px;
    flex-direction: column;
    gap: 24px;
}

.major-activity .section-title{
    color: var(--black, #000);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.major-activity .event-list{
    display: flex;
    justify-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    gap:1%;
}

.major-activity .event{
    display: flex;
    padding: 48px 36px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 24.25%;
    margin-bottom: 1%;
    border-radius: 8px;
    background: var(--white, #FFF);
    position: relative;
    overflow: hidden;
}

.major-activity .event img{
    width: 200px;
    height: 200px;
    z-index: 2;
}

.major-activity .event .box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
    z-index: 2;
}

.major-activity .event h4{
    text-align: center;
}

.major-activity .event p{
    color: var(--black-60, rgba(0, 0, 0, 0.60));
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; /* 22.4px */
}

.major-activity .event:hover{
    .hover-bg{
        left: -600px;
        bottom: -600px;
        width: 1200px;
        height: 1200px;
        transition: all ease-out 500ms;
    }
}

.major-activity .event .tag{
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: 100px;
    bottom: -36px;
    font-size: 12px;
    background-color: #F2C700;
    color: var(--black-60, rgba(0, 0, 0, 1));
    font-weight: 500;
    text-align: center;
    transition: all ease-out 500ms;
}

.major-activity .event:hover .tag{
    bottom: 16px;
    transition: all ease-out 500ms;
}

@media(max-width:1366px){
    .major-activity{
        padding: 0px 48px;
        margin: 0 auto 80px;
        gap: 16px;
    }
    .major-activity .section-title{
        font-size: 36px;
    }
}

@media(max-width:1024px){
    .major-activity{
        padding: 0px 24px;
        margin: 0 auto 64px;
        gap: 16px;
    }
    .major-activity .section-title{
        font-size: 32px;
    }
    .major-activity .event{
        padding: 48px 36px;
        gap: 28px;
        width: 49.5%;
        border-radius: 8px;
    }
    .major-activity .event img{
        width: 160px;
        height: 160px;
    }
}

@media(max-width:768px){
    .major-activity{
        padding: 0px 16px;
        margin: 0 auto 48px;
        gap: 16px;
    }
    .major-activity .event{
        padding: 24px;
        gap: 20px;
        width: 49.5%;
        border-radius: 8px;
    }
    .major-activity .section-title{
        font-size: 28px;
    }
}

@media(max-width:768px){
    .major-activity .event-list{
        gap: 16px;
    }
    .major-activity .event{
        padding: 24px;
        gap: 20px;
        width: 100%;
        border-radius: 8px;
    }
    .major-activity .section-title{
        font-size: 28px;
    }
}


/* Engage-Section  css*/

.engage-section{
    max-width: 1366px;
    padding: 0px 80px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.engage-section .section-title{
    align-self: stretch;
    color: var(--Black, #1A1A1A);
    text-align: center;
    font-family: 'Noto Sans TC';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.engage-list{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.engage{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 24%;
    overflow: hidden;
}

.engage:hover{
    cursor: pointer;
}

.engage .cover-1, .engage .cover-2, .engage .cover-3, .engage .cover-4{
    display: flex;
    align-self: stretch;
    background-size: cover;
    height: 200px;
    padding: 8px 8px;
    border-radius: 4px;
}

.engage .cover-1{
    background-image: url(../element/image/sunday-service-cover.png);
}

.engage .cover-2{
    background-image: url(../element/image/bibletalk.png);
}

.engage .cover-3{
    background-image: url(../element/image/bible-study.png);
}

.engage .cover-4{
    background-image: url(../element/image/contact-us.png);
}

.engage .label{
    display: flex;
    padding: 10px 8px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    background: var(--main, #F2C700);

    /* Text-5 */
    font-family: Sans-Serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
    color: var(--black, #000);
}

.engage .name{
    align-self: stretch;
    color: var(--Black, #1A1A1A);
    font-family: 'Noto Sans TC';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
}

.engage .description{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-self: stretch;

    color: var(--black-40, rgba(0, 0, 0, 0.40));
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

@media(max-width:1366px){
    .engage-section{
        padding: 0 48px;
    }
    .engage-section .section-title{
        font-size: 36px;
    }
    .engage{
        width: 49%;
    }
    .engage .cover-1, .engage .cover-2, .engage .cover-3, .engage .cover-4{
        height: 280px;
        padding: 16px;
    }
}

@media(max-width:1024px){
    .engage-section{
        padding: 0 24px;
        margin: 0 auto 64px;
    }
    .engage-section .section-title{
        font-size: 32px;
    }
    .engage{
        width: 48.5%;
    }
    .engage .cover-1, .engage .cover-2, .engage .cover-3, .engage .cover-4{
        height: 240px;
        padding: 12px;
    }
}

@media(max-width:768px){
    .engage-section{
        padding: 0 16px;
        gap: 12px;
        margin: 0 auto 48px;
    }

    .engage{
        width: 100%;
        gap:4px;
    }

    .engage-section .section-title{
        font-size: 28px;
    }

    .engage .cover-1, .engage .cover-2, .engage .cover-3, .engage .cover-4{
        height: 240px;
    }

    .engage .name{
        font-size: 18px;
    }
    
    .engage .description{
        font-size: 14px;
    }
}

@media(max-width:540px){
    .engage-section{
        padding: 0 16px;
        gap: 12px;
        margin: 0 auto 24px;
    }

    .engage{
        width: 100%;
    }

    .engage-section .section-title{
        font-size: 24px;
    }

    .engage .cover-1, .engage .cover-2, .engage .cover-3, .engage .cover-4{
        height: 240px;
        padding: 10px;
    }

    .engage .name{
        font-size: 16px;
    }
    
    .engage .description{
        font-size: 12px;
    }
}


/* Other Event Swiper */

.other-event-section{
    display: flex;
    max-width: 1366px;
    width: 100%;
    padding: 0px 80px;
    margin: 0 auto 80px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.swiper{
    display:flex;
    width: 100%;
}

.other-event-section .section-title{
    display: flex;
    flex-direction: column;
    align-self: stretch;

    color: var(--Black, #1A1A1A);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.other-event-section .slider{
    display: flex;
    padding: 12px 0px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    align-self: stretch!important;
}

.other-event-section .slider.slider-1{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 55%, rgba(0, 0, 0, 0.5) 100%), center center / cover no-repeat url(../element/image/volunteer/picture-02.jpg);
}

.other-event-section .slider.slider-2{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 55%, rgba(0, 0, 0, 0.5) 100%), center center / cover no-repeat url(../element/image/volunteer/picture-05.jpg);
}

.other-event-section .slider.slider-3{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 55%, rgba(0, 0, 0, 0.5) 100%), center center / cover no-repeat url(../element/image/sdgs-cover.png);
}

.other-event-section .slider .body{
    display: flex;
    height: 640px;
    padding: 0px 24px;
    align-items: center;
    align-self: stretch;
}

.other-event-section .slider .body .text-container{
    display: flex;
    padding: 48px 480px 48px 48px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
}

.other-event-section .banner-titlebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.other-event-section .banner-titlebox .caption{
    align-self: stretch;
    color: var(--white, #FFF);

    /* Other/Caption */
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.other-event-section .banner-titlebox .title{
    align-self: stretch;
    color: var(--white, #FFF);

    /* Heading/1 */
    font-family: "Noto Sans TC";
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 59.4px */
}

.other-event-section .text-container .banner-description{
    align-self: stretch;
    color: var(--white, #FFF);

    /* Body/L */
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 25.2px */

    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-button-prev{
    background-image: url(../element/image/menu-left.png) !important;
    background-size: contain !important;
    color:transparent !important;
    height: 48px !important;
    width: 48px !important; 
}

.swiper-button-next{
    background-image: url(../element/image/menu-right.png) !important;
    background-size: contain !important;
    color:transparent !important;
    height: 48px !important;
    width: 48px !important; 
}

.other-event-section .swiper-pagination-bullet{
    background-color: white;
}

@media(max-width:1366px){
    .other-event-section{
        padding: 0px 48px;
        margin: 0 auto 80px;
        gap: 24px;
    }
    .other-event-section .section-title{
        font-size: 36px;
        font-weight: 500;
    }
    .other-event-section .slider{
        padding: 12px 0px;
        border-radius: 8px;
    }
    .other-event-section .slider .body{
        height: 580px;
        padding: 0px 24px;
    }
    .other-event-section .slider .body .text-container{
        display: flex;
        padding: 48px 240px 48px 48px;
        gap: 24px;
    }
    .other-event-section .banner-titlebox .caption{
        font-size: 20px;
        font-weight: 700;
    }
    .other-event-section .banner-titlebox .title{
        font-size: 48px;
        font-weight: 700;
    }
    .other-event-section .text-container .banner-description{
        font-size: 18px;
        font-weight: 300;
    }
}

@media(max-width:1024px){
    .other-event-section{
        padding: 0px 24px;
        margin: 0 auto 64px;
        gap: 16px;
    }
    .other-event-section .section-title{
        font-size: 32px;
        font-weight: 500;
    }
    .other-event-section .slider{
        padding: 12px 0px;
        border-radius: 8px;
    }
    .other-event-section .slider .body{
        height: 540px;
        padding: 0px 24px;
    }
    .other-event-section .slider .body .text-container{
        display: flex;
        padding: 48px 240px 48px 48px;
        gap: 24px;
    }
    .other-event-section .banner-titlebox .caption{
        font-size: 18px;
        font-weight: 500;
    }
    .other-event-section .banner-titlebox .title{
        font-size: 40px;
        font-weight: 600;
    }
    .other-event-section .text-container .banner-description{
        font-size: 16px;
        font-weight: 300;
    }
}

@media(max-width:768px){
    .other-event-section{
        padding: 0px 16px;
        margin: 0 auto 48px;
        gap: 16px;
    }
    .other-event-section .section-title{
        font-size: 28px;
        font-weight: 500;
    }
    .other-event-section .slider{
        padding: 12px 0px;
        border-radius: 8px;
    }
    .other-event-section .slider .body{
        height: 360px;
        padding: 0px 12px;
    }
    .other-event-section .slider .body .text-container{
        display: flex;
        padding: 16px 80px 24px 16px;
        gap: 12px;
    }
    .other-event-section .banner-titlebox .caption{
        font-size: 12px;
        font-weight: 500;
    }
    .other-event-section .banner-titlebox .title{
        font-size: 28px;
        font-weight: 600;
    }
    .other-event-section .text-container .banner-description{
        font-size: 14px;
        font-weight: 300;
    }
    .swiper-button-prev{
        display:none !important;
    }
    
    .swiper-button-next{
        display:none !important;
    }
}

@media(max-width:540px){
    .other-event-section{
        padding: 0px 16px;
        margin: 0 auto 24px;
        gap: 16px;
    }
    .other-event-section .section-title{
        font-size: 24px;
        font-weight: 500;
    }
    .other-event-section .slider{
        padding: 12px 0px;
        border-radius: 8px;
    }
    .other-event-section .slider .body{
        height: 200px;
        padding: 0px 12px;
    }
    .other-event-section .slider .body .text-container{
        display: flex;
        padding: 16px 80px 24px 16px;
        gap: 12px;
    }
    .other-event-section .banner-titlebox .caption{
        font-size: 12px;
        font-weight: 500;
    }
    .other-event-section .banner-titlebox .title{
        font-size: 24px;
        font-weight: 600;
    }
    .other-event-section .text-container .banner-description{
        display: none;
    }
}

.tcoc-bg{
    position: absolute;
    top: 1331px;
    left: -240px;
    z-index: -1;
    transform: rotate(-11.367deg);
    color: var(--main-light-2, #FCF4CC);
    font-family: Nicoca;
    font-size: 400px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.C-bg{
    position: absolute;
    top: 2200px;
    left: 1600px;
    z-index: -1;
    width: 1217px;
    height: 1217px;
    background-image: url(../element/image/C-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}